@import "tailwindcss";

/* Required for Tailwind to find class references in Apps SDK UI components. */
@source "../../packages/ui/node_modules/@openai/apps-sdk-ui";

@import "@chatui/ui/styles.css";
@import "tw-animate-css";

@source "../../packages/ui/src";
@source "../../packages/ui/src/**/*.{js,ts,jsx,tsx}";
@source "../../packages/tokens/src/**/*.{js,ts,jsx,tsx,css}";
@source "../**/*.{js,ts,jsx,tsx}";
