@import "tailwindcss";
@import "@openai/apps-sdk-ui/css";

@source "../../node_modules/@openai/apps-sdk-ui";
@source "../../packages/ui/src/**/*.{js,ts,jsx,tsx}";
@source "./**/*.{js,ts,jsx,tsx}";

@import "tw-animate-css";
@import "@chatui/ui/styles.css";
